extends includes/base
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-9'
block sidebar
  // SIDENAV
  include includes/sidenav
block custom-style
  style.
    .map-container {
      position: relative;
      height: 100%;
    }
    .map-overlay {
      color:#fff;
      background:   #000;
      padding:      15px;
      padding-right: 30%;
      margin:       0 auto;
      width:        100%;
      position: absolute;
      top:0;
      bottom:0;
      overflow:hidden;
      background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
      background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    }
    .map-overlay h3 {
      color:#fff;
    }
    #map-canvas {
     height: 250px; 
     margin: 0; 
     padding: 0;
    }
block breadcrumb
  // BREADCRUMB
  include includes/breadcrumb
block main-content
  .row.addon-row.addon-row-attached
    .col-sm-12
      .page-header
        h1 Department footer
        // h2: small Sub header
  .row.addon-row.addon-row-attached
    .thumbnail-eq-height
      .col-xs-4
        .thumbnail
          h3 Thumbnail label
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      .col-xs-4
        .thumbnail
          h3 Thumbnail label
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      .col-xs-4
        .thumbnail
          h3 Thumbnail label
          p Lorem ipsum dolor
  .row.addon-row.addon-row-transparent
    .col-sm-12
      .row.full-width-row
        .col-sm-8
          .map-container
            #map-canvas
            .map-overlay
                h3 Records and Licensing Services Division
                address
                  p 
                    | King County Administration Building
                    br 
                    | 500 Fourth Ave., Suite 401
                    br
                    | Seattle, WA 98104
                p 
                  strong
                    a.btn.btn-primary(href="" id="map-link") Get directions</a>
        .col-sm-4
          h4 Contact us
          table.table
            tr
              td
                .fa.fa-phone-square.fa-color-primary.fa-2x.fa-fw
              td    
                strong Vehicle &amp; Vessel Licensing: 
                br
                | 206-477-4000
            tr
              td
                .fa.fa-phone-square.fa-color-primary.fa-2x.fa-fw
              td    
                strong Taxi/For-Hire/TNC:
                br
                | 206-263-1982  
block custom-js
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDT-mLo8UZkliV9nOtzr4gcVDNCqvx7SdI')
  script.
    (function($){
      $.fn.footerMap = function( options ) {
        var $this = $(this);

        var settings = $.extend({
          address: '',
          mapOptions : {
            zoom: 18,
            mapTypeId : google.maps.MapTypeId.HYBRID,
            center: {lat: '', lng: ''},
            draggable: false, 
            zoomControl: false, 
            scrollwheel: false, 
            disableDoubleClickZoom: true,
            disableDefaultUI: true
          }
        }, options);

        return this.each(function() {
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode( { 'address': settings.address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              settings.mapOptions.center.lat = results[0].geometry.location.lat();
              settings.mapOptions.center.lng = results[0].geometry.location.lng();
              loadGMap(settings.mapOptions)
            } else {
              console.log('Geocode was not successful for the following reason: ' + status);
            }
          });
        });//End return

        function loadGMap(mapOptions){
          var map = new google.maps.Map($this[0], mapOptions);
          map.setTilt(45);
          marker = new google.maps.Marker({
            position: mapOptions.center,
            map: map
          }),
          mapLink = $('#map-link');
          mapLink.attr('href', 'https://www.google.com/maps/dir//' + settings.address);
        }
      };
    })(jQuery);
    //THree line address, email line; possibly 
    $('#map-canvas').footerMap( {address: '500 Fourth Ave. Seattle, WA 98104'});